<h1>Privacy policy</h1>
<p>None of your Slack team’s private information (such as names, channels, messages, etc.) is accessed or stored in any way.<br/>This app is not affiliated with <a href="https://www.slack.com">Slack</a>, <a href="https://frinkiac.com">Frinkiac</a>, 20th Century Fox, my employer, or anyone else, really.</p>
